* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#container {
    border: 1px solid #00D4FF;
    width: 100%;
    margin: 20px auto;
}
#header {
    width: 100%;
    height: 120px;
    background-color: #F0FFFF;
}
#sidebar {
    width: 25%;
    height: 400px;
    background-color: #DDDDFF;
    float: left;
}
#contents {
    width: 75%;
    height: 400px;
    background-color: #E5EBF7;
    float: left;
}
#footer {
    width: 100%;
    height: 100px;
    background-color: #F0FFFF;
    clear: left;
}
